<div class="startbar d-print-none">
  <!--start brand-->
  <app-logo-box />

  <div class="startbar-menu">
    <ngx-simplebar class="startbar-collapse" id="startbarCollapse">
      <div class="d-flex align-items-start flex-column w-100">
        <ul class="navbar-nav mb-auto w-100">
          <!-- Menu 1 (Title Section) -->
          <!-- <li class="menu-label pt-0 mt-0">
            <span>Menu Title 1</span>
          </li> -->
          <!-- Menu Item 1 -->
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/path-to-page1"
              ngClass="menu-label mt-2"
            >
              <i class="menu-icon icon-class1"></i>
              <span class="nav-text">Menu Item 1</span>
            </a>
          </li> -->
          <!-- Menu with Submenu -->
          <!-- <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-bs-toggle="collapse"
              aria-expanded="false"
              aria-controls="submenu1"
            >
              <i class="menu-icon icon-class2"></i>
              <span class="nav-text">Menu with Submenu</span>
            </a>
            <div class="collapse" id="submenu1">
              <ul class="nav flex-column"> -->
                <!-- Submenu Item 1 -->
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/path-to-subpage1">
                    <span class="nav-text">Submenu Item 1</span>
                  </a>
                </li> -->
                <!-- Submenu Item 2 -->
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/path-to-subpage2">
                    <span class="nav-text">Submenu Item 2</span>
                  </a>
                </li>
              </ul>
            </div>
          </li> -->
          <!-- Menu 2 (Another Title Section) -->
          <li class="menu-label mt-2">
            <small class="label-border">
              <div class="border_left hidden-xs"></div>
              <div class="border_right"></div>
            </small>
            <span>MENU</span>
          </li>
          <!-- Menu Item 2 -->
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/pages/projectList"
              ngClass="menu-label mt-2 "
            >
              <i class="menu-icon icon-class3"></i>
              <span class="nav-text">Vos projets</span>
            </a>
          </li>
        </ul>

        <!-- <div class="update-msg text-center">
          <div
            class="d-flex justify-content-center align-items-center thumb-lg update-icon-box rounded-circle mx-auto"
          >
            <i
              class="iconoir-peace-hand h3 align-self-center mb-0 text-primary"
            ></i>
          </div>
          <h5 class="mt-3">Mannat Themes</h5>
          <p class="mb-3 text-muted">
            Rizz is a high quality web applications.
          </p>
          <a
            href="javascript: void(0);"
            class="btn text-primary shadow-sm rounded-pill"
            >Upgrade your plan</a
          >
        </div> -->
      </div>
    </ngx-simplebar>
  </div>
</div>
<div class="startbar-overlay d-print-none"></div>
