<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0);" routerLink="/pages/projectDetail/{{idProjet}}/{{permission}}">Liste</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0);" routerLink="/pages/kanban/{{idProjet}}/{{permission}}">Kanban</a>
  </li>
</ul>

<!-- debut corps liste -->

<div class="card" *ngFor="let sprint of tachesParSprint | keyvalue; let i = index">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-title">Sprint:{{ sprint.key }}</h4>
      </div>
      <!--end col--> 
    </div>
    <!--end row-->
  </div>
  <!--end card-header-->
  <div class="card-body pt-0">
    <div
      ngbAccordion
      [closeOthers]="true"
      class="accordion card-bg"
    >
      @for (task of sprint.value; track task.id; let last = $last) {
        <div
          ngbAccordionItem
          [collapsed]="task.id == 'CRMTCH_10' ? false : true"
          class="task-accordion rounded border-dashed border-theme-color p-2"
          [ngClass]="{ 'mb-3': !last }"
        >
          <div
            ngbAccordionHeader
            class="cursor-pointer"
            data-bs-toggle="collapse"
            data-bs-target="#task-one"
            aria-expanded="true"
            aria-controls="task-one"
          >
            <div ngbAccordionToggle class="table-responsive">
              <table class="table text-nowrap mb-0">
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <i class="iconoir-calendar fs-2 me-2"></i>
                        <div class="flex-grow-1 text-truncate">
                          <h6 class="m-0 mb-1 fw-semibold">
                            {{ task.nom }}
                          </h6>
                          <div class="fw-semibold">
                            <span>{{ task.sprint_date_debut }}</span> -
                            <span class="text-danger">
                              {{ task.sprint_date_fin }}</span
                            >
                          </div>
                        </div>
                        <!--end media body-->
                      </div>
                    </td>
                    <td class="text-start">
                      <h6 class="m-0 mb-1 fw-semibold">Task</h6>
                      <!-- <span class="fs-13 fw-semibold">{{ task.task }}</span> -->
                    </td>
                    <td class="text-start">
                      <h6 class="m-0 mb-1 fw-semibold">Priorité</h6>
                      <span
                        [class]="{
                          'text-danger': task.priorite == 1,
                          'text-warning': task.priorite == 2,
                          'text-info': task.priorite == 3,
                        }"
                        ><i class="fa-solid fa-stop fs-10"></i>
                        {{ task.priorite }}</span
                      >
                    </td>

                    <!-- <td class="text-start">
                      <h6 class="m-0 mb-1 fw-semibold">Employé assigné</h6>
                      <span class="text-secondary">{{ task.employe_nom }}</span>
                    </td> -->

                    <td class="text-end">
                      <h6 class="m-0 mb-1 fw-semibold">Statut</h6>
                      <span
                        class="badge rounded bg-transparent border p-1"
                        [ngClass]="{
                          'text-blue border-blue': task.sprint_statut == 2,
                          'text-success border-success': task.sprint_statut == 4,
                          'text-secondary border-secondary':
                            task.sprint_statut == 3,
                        }"
                        >{{ task.sprint_statut }}</span
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            ngbAccordionCollapse
            id="task-one"
            class="accordion-collapse collapse show"
          >
            <div
              ngbAccordionBody
              class="accordion-body bg-body border-dashed-top p-3 p-3"
            >
              <h6 class="fw-semibold">Détails de la tâche</h6>
              <p class="mt-2 mb-3">
                {{ task.descTache }}
              </p>
              <div class="row row-cols-auto g-3">
                <div class="col col-md-3">
                  <div class="d-flex align-items-center">
                    <!-- <img
                      [src]="task.client.avatar"
                      class="thumb-md align-self-center rounded-circle"
                      alt="..."
                    /> -->
                    <!-- <div class="flex-grow-1 ms-2">
                      <h6 class="m-0 mb-1 fw-semibold">
                        {{ task.client.name }}
                      </h6>
                      <p class="text-muted mb-0">{{ task.client.role }}</p>
                    </div> -->
                  </div>
                </div>
                <!--end col-->
                <div class="col col-md-3">
                  <h6 class="m-0 mb-1 fw-semibold">Type de projet</h6>
                  <p class="text-muted mb-0">{{ task.id_projet }}</p>
                </div>
                <!--end col-->
                <div class="col col-md-2 text-end align-self-center">
                  <div class="d-flex justify-content-between">
                    <h6 class="m-0 mb-1 fw-semibold">Progress</h6>
                    <small class="text-end">5%</small>
                  </div>
                  <ngb-progressbar-stacked
                    class="progress bg-secondary-subtle"
                    style="height: 5px"
                  >
                    <ngb-progressbar
                      class="progress-bar bg-secondary rounded-pill"
                      [value]="service.dividePercentage(5)"
                      style="margin-right: 2px; height: 5px"
                    ></ngb-progressbar>
                    <ngb-progressbar
                      class="progress-bar bg-secondary rounded-pill"
                      [value]="service.dividePercentage(5)"
                      style="margin-right: 2px; height: 5px"
                    ></ngb-progressbar>
                    <ngb-progressbar
                      class="progress-bar bg-secondary rounded-pill"
                      [value]="service.dividePercentage(5)"
                      style="margin-right: 2px; height: 5px"
                    ></ngb-progressbar>
                  </ngb-progressbar-stacked>
                </div>
                <!--end col-->
                <!-- <div class="col col-md-2">
                  <h6 class="m-0 mb-1 fw-semibold">Total Report</h6>
                  <p class="text-muted mb-0">{{ task.total_report }}</p>
                </div> -->
                <!--end col-->
                <div class="col col-md-2 ms-auto">
                  <h6 class="m-0 mb-1 fw-semibold">Employé assigné</h6>
                  <p class="text-muted mb-0">{{ task.employe_nom }}</p>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </div>
            <!--end accordion-body-->
          </div>
          <!--end task-->
        </div>
        <!--end -->
      }
    </div>
    <!--end accordion-->
  </div>
</div>


<!-- pour backlog -->


<div class="card">
  <card-title title="Backlog" />
  <div class="card-body pt-0">
    <div class="table-responsive">
      
          <table class="table mb-0">
            <thead class="table-light">
              <tr>
                <th class="border-top-0"></th>
                <th class="border-top-0">Tâche</th>
                <th class="border-top-0">Description</th>
                <th class="border-top-0">Priorité</th>
                <th class="border-top-0">Sprint</th>
                <th class="border-top-0"></th>
                <th class="border-top-0"></th>
              </tr>
              <!--end tr-->
            </thead>
            <tbody>
              @for (tache of tacheBacklog; track tache.id) {
                    <tr>
                      <td>
                        <div class="d-flex align-items-center">
                          <img
                            src=""
                            height="40"
                            class="me-3 align-self-center rounded"
                            alt="..."
                          />
                          <!-- <div class="flex-grow-1 text-truncate">
                            <h6 class="m-0"></h6>
                            <a href="javascript:void(0);" class="fs-12 text-primary"
                              >ID: {{ product.productID }}</a
                            >
                          </div> -->
                          <!--end media body-->
                        </div>
                      </td>
                      <td>
                        {{ tache.nom }}
                        <!-- <del class="text-muted fs-10"
                          >{{ currency }}{{ product.originalPrice }}</del
                        > -->
                      </td>
                      <td>
                        {{ tache.descTache }}
                        
                      </td>
                      <td>
                        <!-- <select id="priorite" formControlName="priorite">
                          <option value="">Sélectionner la priorité</option>
                          <option value="1">Haute</option>
                          <option value="2">Moyenne</option>
                          <option value="3">Faible</option>
                        </select> -->
                        
                      </td>
                      <td>
                        <!-- For sprint list -->
                        <!-- <select id="id_sprint" formControlName="id_sprint">
                          <option value="">Sélectionner un sprint pour le projet</option>
                          <option *ngFor="let sp of listeSprint" [value]="sp.id">{{ sp.nom }}</option>
                        </select> -->
                      </td>
                      <td>
                        <!-- For employee list -->
                        <!-- <select id="id_employe_assigne" formControlName="id_employe_assigne">
                          <option value="">Sélectionner un employé</option>
                          <option *ngFor="let emp of listeEmployeInfo" [value]="emp.id">{{ emp.nom }}</option>
                        </select> -->
                      </td>
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" (click)="openModal(exampleModalCenter, { centered: true })">
                          Attribuer la tâche
                        </button>
                      </td>
                    </tr>
                <!--end tr-->
              }
            </tbody>
          </table>
      
      <!--end table-->
    </div>
    <!--end /div-->
  </div>
  <!--end card-body-->
</div>
<!--end card-->



<ng-template
          #exampleModalCenter
          let-modal
          class="modal fade"
          id="exampleModalCenter"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-header">
            <h6 class="modal-title m-0" id="exampleModalCenterTitle">
              Center Modal
            </h6>
            <button
              type="button"
              class="btn-close"
              (click)="modal.dismiss()"
              aria-label="Close"
            ></button>
          </div>
          <!--end modal-header-->
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-3 text-center align-self-center">
                <img
                  src="assets/images/extra/card/btc.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <!--end col-->
              <div class="col-lg-9">
                <h5>Crypto Market Services</h5>
                <span class="badge bg-light text-dark">Disable Services</span>
                <small class="text-muted ms-2">07 Oct </small>
                <ul class="mt-2 mb-0">
                  <li>Lorem Ipsum is dummy text.</li>
                  <li>It is a long established reader.</li>
                  <li>Contrary to popular belief, Lorem simply.</li>
                </ul>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end modal-body-->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="modal.dismiss()"
            >
              Fermer
            </button>
            <button type="button" class="btn btn-primary btn-sm">
              Attribuer
            </button>
          </div>
          <!--end modal-footer--> </ng-template
        ><!--end modal-->