<div class="card">
    <card-title title="Liste des tâches dans ce projet par sprint" />
    <div class="card-body pt-0">
      <div class="table-responsive">
        <div class="card" *ngFor="let sprint of tachesParSprint | keyvalue; let i = index">
            <h4 class="card-title">Sprint:{{ sprint.key }}</h4>
                <h5>{{ sprint.value[0].sprint_date_debut | date:'MMM d, y' }} - {{ sprint.value[0].sprint_date_fin | date:'MMM d, y'  }}</h5>
                
                    @if(sprint.value[0].sprint_active === 1 )
                    {
                      <h5 style="color: green;">Active</h5>
                    }
                    
                
            <table class="table mb-0">
                
                <thead class="table-light">
                  <tr>
                    <th class="border-top-0"></th>
                    <th class="border-top-0">Tâche</th>
                    <th class="border-top-0">Description</th>
                    <!-- <th class="border-top-0">Priorité</th>
                    <th class="border-top-0">Sprint</th> -->
                    <th class="border-top-0"></th>
                    <th class="border-top-0"></th>
                  </tr>
                  <!--end tr-->
                </thead>
                <tbody>
                  @for (task of sprint.value; track task.id) {
                      @if(!task.id)
                      {
                          <p>Pas encore de tâche pour ce sprint</p>
                      }
                      @else
                      {
  
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <img
                                src="assets/images/minitask.jpg"
                                height="40"
                                class="me-3 align-self-center rounded"
                                alt="..."
                              />
                              <!-- <div class="flex-grow-1 text-truncate">
                                <h6 class="m-0"></h6>
                                <a href="javascript:void(0);" class="fs-12 text-primary"
                                  >ID: {{ product.productID }}</a
                                >
                              </div> -->
                              <!--end media body-->
                            </div>
                          </td>
                          <td>
                            {{ task.nom }}
                            <!-- <del class="text-muted fs-10"
                              >{{ currency }}{{ product.originalPrice }}</del
                            > -->
                          </td>
                          <td>
                              {{ task.statut == 0 ? 'À faire' : task.statut == 1 ? 'En cours' : task.statut == 2 ? 'Revue' : 'Terminé' }}
                          </td>

                          <td>
                            @if(task.statut === 3 && task.etat === 1)
                            {
                              <td class="text-end">
                                <h6 class="m-0 mb-1 fw-semibold"></h6>
                                <span class="text-secondary" (click)="openModal(rating, { centered: true },task.id,task.id_employe_assigne)">Noter</span> <!--eto mbola asiana couleur correspondant-->
                                </td>
                            }
                           
                            @if((task.statut === 3 && task.etat === 2))
                            {
                              <td class="text-end">
                                <h6 class="m-0 mb-1 fw-semibold"></h6>
                                  <div>
                                    <i class="fas fa-check-circle" style="color: #22c55e;"></i> Noté
                                  </div>
                                </td>

                            }
                            @else
                            {
                              <td class="text-end">
                                <h6 class="m-0 mb-1 fw-semibold"></h6>
                                <span class="text-secondary" style="display: none;">Noter</span> <!--eto mbola asiana couleur correspondant-->
                                </td>
                            }
                            
                          </td>
                          <!-- <td>
                            
                          </td> -->
                          <!-- <td>
                            <select id="priorite" formControlName="priorite">
                              <option value="">Sélectionner la priorité</option>
                              <option value="1">Haute</option>
                              <option value="2">Moyenne</option>
                              <option value="3">Faible</option>
                            </select>
                            
                          </td>
                          <td>
                            For sprint list
                            <select id="id_sprint" formControlName="id_sprint">
                              <option value="">Sélectionner un sprint pour le projet</option>
                              <option *ngFor="let sp of listeSprint" [value]="sp.id">{{ sp.nom }}</option>
                            </select>
                          </td>
                          <td>
                            For employee list
                            <select id="id_employe_assigne" formControlName="id_employe_assigne">
                              <option value="">Sélectionner un employé</option>
                              <option *ngFor="let emp of listeEmployeInfo" [value]="emp.id">{{ emp.nom }}</option>
                            </select>
                          </td> -->
                          <td>
                            <a type="button" class="btn btn-primary btn-sm" routerLink="/pages/taskDetail/{{task.id}}">
                              Voir détails
                            </a>
                          </td>
                        </tr>
                      }
                    <!--end tr-->
                  }
                </tbody>
              </table>
          
          <!--end table-->

        </div>
            
      </div>
      <!--end /div-->
    </div>
    <!--end card-body-->
  </div>
  <!--end card-->

  <ng-template
          #rating
          let-modal
          class="modal fade"
          id="rating"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-header">
            <h6 class="modal-title m-0" id="exampleModalCenterTitle">
              Attribuer votre score sur cette tâche
            </h6>
            <button
              type="button"
              class="btn-close"
              (click)="modal.dismiss()"
              aria-label="Close"
            ></button>
          </div>
          <!--end modal-header-->
          <div class="modal-body">
            <form class="p-4 pt-3" (ngSubmit)="submitFeedBackAndScoreClient()">
              
                  <div class="form-group mb-3">
                    <!-- <input type="text" name="comment" placeholder="Entrez ici votre remarque" [(ngModel)]="commentValue"> -->
                    <textarea
                                class="form-control"
                                #clipboardTextarea
                                [(ngModel)]="commentValue"
                                rows="3"
                                id="clipboardTextarea"
                                placeholder="Entrez ici votre remarque"
                              ></textarea
                              >
                  </div>
                  <div class="starability-basic">
                    <input type="radio" id="rate1" name="score" value="1" [(ngModel)]="valueScore" (change)="onStarChange(1)" />
                    <label for="rate1" title="Terrble">1 star</label>
          
                    <input type="radio" id="rate2" name="score" value="2" [(ngModel)]="valueScore" (change)="onStarChange(2)" />
                    <label for="rate2" title="Pas bien">2 stars</label>
          
                    <input type="radio" id="rate3" name="score" value="3" [(ngModel)]="valueScore" (change)="onStarChange(3)" />
                    <label for="rate3" title="Moyen">3 stars</label>
          
                    <input type="radio" id="rate4" name="score" value="4" [(ngModel)]="valueScore" (change)="onStarChange(4)" />
                    <label for="rate4" title="Très bien">4 stars</label>
          
                    <input type="radio" id="rate5" name="score" value="5" [(ngModel)]="valueScore" (change)="onStarChange(5)" />
                    <label for="rate5" title="Excellent">5 stars</label>
                  </div>
                  <!-- Input de score précis, apparaît quand une étoile est sélectionnée -->
                  <div *ngIf="valueScore > 0" class="form-group mt-3">
                    <label for="preciseScore">
                      Sélectionnez un score précis entre({{ minScore }} - {{ maxScore }})
                    </label>
                    <input
                      type="number"
                      id="preciseScore"
                      class="form-control"
                      [(ngModel)]="preciseScore"
                      name="preciseScore"
                      [min]="minScore"
                      [max]="maxScore"
                      placeholder="Entrez un score précis"
                      required
                      [value]="maxScore"
                    />
                  </div>
                  <br/>
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary me-0.5">Enregistrer la revue</button>
              </div>

            </form>
          </div>
          <!--end modal-body-->
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              (click)="modal.dismiss()"
            >
              Fermer
            </button>
            <!-- <button type="button" class="btn btn-primary btn-sm">
              Soumettre
            </button> -->
          </div>
          <!--end modal-footer--> </ng-template>