<div class="card">
    <card-title title="Liste des tâches dans ce projet par sprint" />
    <div class="card-body pt-0">
      <div class="table-responsive">
        <div class="card" *ngFor="let sprint of tachesParSprint | keyvalue; let i = index">
            <h4 class="card-title">Sprint:{{ sprint.key }}</h4>
                <h5>{{ sprint.value[0].sprint_date_debut | date:'MMM d, y' }} - {{ sprint.value[0].sprint_date_fin | date:'MMM d, y'  }}</h5>
                
                    @if(sprint.value[0].sprint_active === 1 )
                    {
                      <h5 style="color: green;">Active</h5>
                    }
                    
                
            <table class="table mb-0">
                
                <thead class="table-light">
                  <tr>
                    <th class="border-top-0"></th>
                    <th class="border-top-0">Tâche</th>
                    <th class="border-top-0">Description</th>
                    <!-- <th class="border-top-0">Priorité</th>
                    <th class="border-top-0">Sprint</th> -->
                    <th class="border-top-0"></th>
                    <th class="border-top-0"></th>
                  </tr>
                  <!--end tr-->
                </thead>
                <tbody>
                  @for (task of sprint.value; track task.id) {
                      @if(!task.id)
                      {
                          <p>Pas encore de tâche pour ce sprint</p>
                      }
                      @else
                      {
  
                        <tr>
                          <td>
                            <div class="d-flex align-items-center">
                              <img
                                src="assets/images/minitask.jpg"
                                height="40"
                                class="me-3 align-self-center rounded"
                                alt="..."
                              />
                              <!-- <div class="flex-grow-1 text-truncate">
                                <h6 class="m-0"></h6>
                                <a href="javascript:void(0);" class="fs-12 text-primary"
                                  >ID: {{ product.productID }}</a
                                >
                              </div> -->
                              <!--end media body-->
                            </div>
                          </td>
                          <td>
                            {{ task.nom }}
                            <!-- <del class="text-muted fs-10"
                              >{{ currency }}{{ product.originalPrice }}</del
                            > -->
                          </td>
                          <td>
                              {{ task.statut == 0 ? 'À faire' : task.statut == 1 ? 'En cours' : task.statut == 2 ? 'Revue' : 'Terminé' }}
                          </td>
                          <!-- <td>
                            <select id="priorite" formControlName="priorite">
                              <option value="">Sélectionner la priorité</option>
                              <option value="1">Haute</option>
                              <option value="2">Moyenne</option>
                              <option value="3">Faible</option>
                            </select>
                            
                          </td>
                          <td>
                            For sprint list
                            <select id="id_sprint" formControlName="id_sprint">
                              <option value="">Sélectionner un sprint pour le projet</option>
                              <option *ngFor="let sp of listeSprint" [value]="sp.id">{{ sp.nom }}</option>
                            </select>
                          </td>
                          <td>
                            For employee list
                            <select id="id_employe_assigne" formControlName="id_employe_assigne">
                              <option value="">Sélectionner un employé</option>
                              <option *ngFor="let emp of listeEmployeInfo" [value]="emp.id">{{ emp.nom }}</option>
                            </select>
                          </td> -->
                          <td>
                            <a type="button" class="btn btn-primary btn-sm" routerLink="/pages/taskDetail/{{task.id}}">
                              Voir détails
                            </a>
                          </td>
                        </tr>
                      }
                    <!--end tr-->
                  }
                </tbody>
              </table>
          
          <!--end table-->

        </div>
            
      </div>
      <!--end /div-->
    </div>
    <!--end card-body-->
  </div>
  <!--end card-->